@function darkenBorder ($color){
    @return darken ($color , 20%)
}

.btn {
    background-color: $white; 
    text-transform: uppercase; 
    border-color: darken($dark);   
    padding: 15px 30px;
    display: inline;
    margin: 20px 15px; 
    border-radius: 25px; 

    .text-btn {
        
    }


        &:hover {
            transform:translateY(-10px);
            text-decoration:overline;  
            color: $white;
            background-color: $dark;
            transition:all ease 0.3s;  
        }
            
}
