.body {
    background-image:url(/images/workplace-elements-marble-table-top-view.jpg);
    
}


.header-website {
    color:$dark; 
    text-align: center;
    border-color: $dark;
} 

.section-display {
    //padding: 1rem 1rem; 
    margin: 2px 2px; 

section {
    height: auto;
}


.presentation-container {
background-color:$bgMenu;    
display: flex;
align-items: center;
justify-content: space-between;
gap: 2rem;
transition: all 0.3s ease-in-out;
}

    .text-content {
        margin: 2rem 5rem;
        //flex: 1; 

        h2.mon-nom {
        font-size: 2rem;
        font-weight: 700;
        color: $dark; 
        }

        p.presentation {
        font-size: 1.1rem;
        line-height: 40px;
        color:$dark; 
        }
    }
}

.illustration {
max-width: 50%;
display: block; 
width: auto;
border-radius: 100%;
margin-left: 50px;
}

.social-carrousel {
display: flex;
align-items: center;
justify-content: center;
gap: 1rem;
max-width: 600px;
margin: 2rem auto;
padding: 1rem;
background-color: #f8f8f8;
border-radius: 10px;
}

.arrow {
background: $dark;
border: none;
font-size: 2rem;
cursor: pointer;
color:$white; 
}

&:hover {
    color: #000;
}

.carousel-window {
    overflow: hidden;
    width: 10%; 
}

.carousel-track {
    display: flex;
    gap: 2rem;
    transition: transform 0.4s ease-in-out;

    .logo {
    width: 10px;
    height: 10px;
    object-fit: contain;
    transition: transform 0.3s ease;

        &:hover {
        transform: scale(1.2);
        }
    }
}
