.header-website {
    color:$primary;
    text-align: center;
} 


menu {
    ul {
        background-color: $dark;
        list-style:none; 
        padding: 2rem;   
        text-align: center; 
        color: $white; 

        li {
            display: inline;
            padding: 10px; 

            a {
                text-decoration: none;
                color: $primary;

                &:hover {
                    text-decoration:overline;  
                    color: $white;
                    background-color: $dark;
                    border-radius: 10px;
                    margin: 25px; 
                    transition-duration: 0.10s;
                    padding: 05px;
                    
                }
            }
        }
    }
}

.mon-nom {
    color: $primary;
    font-weight: 700;  
}

.Bienvenue {
    color: $primary;
    font-size: 1.2em;
    margin-top: 20px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: $dark;
    color: $white;
    margin-top: 20px;

    a {
        color: $primary;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}