
@import "typography";
@import "variables";
@import "layout";




h1 {
    color:$primary;
    text-align: center;
}

.presentation {
    color: $primary;
    font-size: 1.2em;
    text-align: center;
    margin-top: 20px;
}

div.parent {
    color: transparent;

    &:hover {
        color: darkblue;
    }
    .enfant {
        color: $dark;
    }
}

