
@import "typography";
@import "variables";
@import "layout";
@import "components";


h1 {
    color:$primary;
}

.presentation {
    color: $primary;
    font-size: 1.2em;
    margin-top: 20px;
    text-align: center;
}
